.image-container {
  min-height: 14rem;
  height:100%;
  background-image: url('https://i.picsum.photos/id/0/5616/3744.jpg?hmac=3GAAioiQziMGEtLbfrdbcoenXoWAW-zlyEAMkfEdBzQ');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
}
